
<div class="row">
  
    <h3>Buttons</h3>
    
    
    
    <hr>
    
    <div class="row">
      <div class="span3">
        <p><a href="#" class="btn btn-flat btn-large">Default</a></p>
        <p><a href="#" class="btn btn-flat">Default</a></p>
        <p><a href="#" class="btn btn-flat btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-large">Default</a></p>
        <p><a href="#" class="btn">Default</a></p>
        <p><a href="#" class="btn btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-gloss btn-large">Default</a></p>
        <p><a href="#" class="btn btn-gloss">Default</a></p>
        <p><a href="#" class="btn btn-gloss btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-block btn-large">Default</a></p>
        <p><a href="#" class="btn btn-block">Default</a></p>
        <p><a href="#" class="btn btn-block btn-small">Default</a></p>
      </div>
    </div>
    
    <% %w{ primary info success warning danger inverse }.each do |state| %>
    
    <hr>
    
    <div class="row">
      <div class="span3">
        <p><a href="#" class="btn btn-<%= state %> btn-flat btn-large">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %> btn-flat">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %> btn-flat btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-<%= state %> btn-large">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %>">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %> btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-<%= state %> btn-gloss btn-large">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %> btn-gloss">Default</a></p>
        <p><a href="#" class="btn btn-<%= state %> btn-gloss btn-small">Default</a></p>
      </div>
      <div class="span3">
        <p><a href="#" class="btn btn-block btn-<%= state %> btn-large">Default</a></p>
        <p><a href="#" class="btn btn-block btn-<%= state %>">Default</a></p>
        <p><a href="#" class="btn btn-block btn-<%= state %> btn-small">Default</a></p>
      </div>
    </div>
    
    <% end %>
    
  </div>
</div>