<div class="show-grid">
  <div class="row">
  <% 12.times do |i| %>
    <div class="span1"><%= i+1 %></div>
  <% end %>
  </div>


  <div class="row">
  <% 6.times do |i| %>
    <div class="span2"><%= i+1 %></div>
  <% end %>
  </div>

  <div class="row">
  <% 4.times do |i| %>
    <div class="span3"><%= i+1 %></div>
  <% end %>
  </div>

  <div class="row">
  <% 3.times do |i| %>
    <div class="span4"><%= i+1 %></div>
  <% end %>
  </div>

  <div class="row">
  <% 2.times do |i| %>
    <div class="span6"><%= i+1 %></div>
  <% end %>
  </div>
</div>

<hr>

<div class="row">
<% 3.times do %>
  <div class="span4">
    <h4><a href="#">Feature Heading</a></h4>
    <p><%= LiterateRandomizer.sentence %></p>
  </div>
<% end %>
</div>

<hr>

<div class="row">
<% 4.times do %>
  <div class="span3">
    <h5><a href="#">Feature Heading</a></h5>
    <p><%= LiterateRandomizer.sentence %></p>
  </div>
<% end %>
</div>


